@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

::-moz-selection {background: #000000; color: #ffffff}
::selection {background: #000000; color: #ffffff}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  vertical-align: top;
  text-underline-position: under;

  &::before,
  &::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    vertical-align: top;
    text-underline-position: under;
  }
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

ol,
ul {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

button {
  border: none;
  border-radius: 0;
  background: none;
  appearance: none;
  box-shadow: none;
  cursor: pointer;
}

input[type=text],
input[type=password],
input[type=number],
select,
textarea {
  display: inline-block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 38px;
  padding: 0 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: none;

  &:disabled {background: #f7f7f7;}
  &::placeholder {color: #999999;}
}

textarea {
  height: 300px;
  padding: 10px;
  line-height: 1.5;
}

input[type=number] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

a, 
button {
  text-decoration: none;
}